.container {
    height: 100vh;
    max-width: 1490px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/free-photo/top-view-delicious-fresh-salad_23-2148242530.jpg?size=626&ext=jpg&ga=GA1.1.735520172.1710979200&semt=ais'); /* URL da imagem de fundo */
    background-size: cover; /* Cobrir toda a área */
    background-position: center; /* Centralizar a imagem de fundo */
    background-repeat: no-repeat; /* Impedir a repetição da imagem de fundo */
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 2px solid #4d94ff;
    border-radius: 10px;
    background-color: #f0f9ff; /* Light blue background */
}

h2 {
    text-align: center;
    color: #4d94ff; /* Blue color */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

.btn-primary {
    width: 100%;
    background-color: #4d94ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #337ab7;
}

.form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(77, 148, 255, 0.5);
}
