.menu-container {
  display: flex; /* This will create a flex container */
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusted for even spacing */
  background-color: #ffd801; /* Yellow background for the entire container */
}

.menu {
  width: calc(50% - 40px); /* Adjust width to fit two menus per row with proper spacing */
  margin: 20px; /* Adjusted margins for symmetry */
  /* The background color is now set for the entire container, not here */
}

.menu-item {
  margin: 20px; /* Adjusted margin for proper spacing */
  /*padding: 20px; /* Added padding inside the item */
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  overflow: hidden;
  background-color: #00ff1e; /* Light purple background for each item */
  /* Removed the background color to maintain the yellow from the container */
}

.menu-item-link {
  text-decoration: none; /* Removes the underline from links */
}

.menu-item-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 25px;
}

.menu-item-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.menu-item-price {
  margin: 7px 0;
  font-size: 1.5rem;
  color: #666;
}

.menu-item:hover {
  transform: translateY(-10px);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.5);
}
